@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Walter+Turncoat&display=swap');
h1{
    color: black;
    font-family: "Walter Turncoat", cursive;
    
}


*{
    margin: 0, 0, 0, 50px;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: 3px solid black;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 13vmin;
    font-family: "Walter Turncoat", cursive;
    color: red;
    background-color: #ffffc7;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    font-family: "Walter Turncoat", cursive;
    font-weight: bold;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    font-family: "Walter Turncoat", cursive;
    font-weight: bold;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #ffffc7;
    font-size: 10vmin;
    font-family: "Walter Turncoat", cursive;
}

.msg-container{
     height: 100vmin;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 4rem;
}

.hide{
    display: none;
}